extends layout

block content
	h1=title
	p La información obtenida fue:
	-var movie = JSON.parse(info);
	figure
		figcaption
			p 
				|Id:  
				b #{movie.id}
				|. Película: 
				b #{movie.title}
				|. Año: 
				b #{movie.release}
				|. Calificación: 
				b #{movie.rating}
				|.
		img(src="#{movie.image}")
	a(href="/") Regresar