<h1>
	<a href="<%=link%>" target="_blank"><%=title%></a>
</h1>
<p><%=description%></p>
<p>Bienvenido a <%=title%></p>
<div id="logo"></div>
<br />
<button id="presioname" style="color:#80BD01; font-size:2em;">Presióname</button>
<script>
	document.getElementById("presioname").onclick = function(){
		alert("He presionado el botón desde EJS con JavaScript");
	}
</script>
<ol>
<% for(var i=0; i<dcHeroes.length; i++) {%>
	<li><%= dcHeroes[i] %></li>
<% } %>
</ol>
<section class="container">
	<% for(var i=0; i<infoHeroes.length; i++) {%>
		<article class="col-5">
			<h2><%= infoHeroes[i][0] %></h2>
			<p><b><%= infoHeroes[i][1] %></b></p>
			<p><b><%= infoHeroes[i][2] %></b></p>
		</article>
	<% } %>
</section>