extends layout

block content
	h1
		a(href=link target="_blank")=title
	p=description
	p Bienvenido a #{title}

	section#jade.contenedor
		article
			h2 Estructura Básica de Jade
			p Este archivo HTML es generado con el motor de plantillas Jade
			p
				|Para concatenar contenido
				|de varias lineas
				|se usa el pipe |

	include logo

	br

	button#presioname(style="color:#80BD01; font-size:2em") Presióname
	
	script.
		//alert("JS inline en Jade");
		document.getElementById("presioname").onclick = function(){
			alert("He presionado el botón desde Jade con JavaScript");
		}

	-var nombre = "Jonathan";
	p Hola #{nombre}

	-var fecha = new Date();
	-var hora = fecha.getHours();

	-if(hora<12)
		p La hora #{hora} es Antes del Meridiano (AM)
	-else
		p La hora #{hora} es Posterior del Meridiano (PM)

	-dcHeroes = ["Batman","Superman","Wonder Woman","Flash","Green Lantern"]

	ol
		each heroe in dcHeroes
			li #{heroe}

	//Los mixins son funciones
	mixin infoSuperHeroe(heroe,identidad,ciudad)
		article.col-5
			h2 #{heroe}
			p
				b #{identidad}
			p <b>#{ciudad}</b>

	section.container
		+infoSuperHeroe("Batman","Bruce Wayne","Ciudad Gótica")
		+infoSuperHeroe("Superman","Clark Kent","Metrópolis")
		+infoSuperHeroe("Wonder Woman","Princesa Diana","Reino de las Amazonas")
		+infoSuperHeroe("The Flash","Barry Allen","Ciudad Central")
		+infoSuperHeroe("Green Lantern","Hal Jordan","Sector Espacial 2814")