extends layout

block content
	section(class="container")
		div#logo
		h1
			a(href="/")=title
		article(class="article")
		-if(data.length)
			table(class="table")
				tr
					th Id
					th Título
					th Año
					th Calificación
					th Poster
					th
					th
						form(method="get",action="/agregar")
							input(type="submit",value="Agregar",class="button add")
				-each movie in data
					tr
						td #{movie.movie_id}
						td #{movie.title}
						td #{movie.release_year}
						td #{movie.rating}
						td
							img(src="#{movie.image}")
						td
							form(method="get",action="/editar/#{movie.movie_id}")
								input(type="submit",value="Editar",class="button edit")
						td
							form(method="post",action="/eliminar/#{movie.movie_id}")
								input(type="button",value="Eliminar",class="button delete", onclick="eliminar(this)")
			script.
				function eliminar(input)
				{
					var deleteOK = confirm("¿Estás seguro de eliminar la película?");
					return (deleteOK)?input.parentNode.submit():false;
				}					
		-else
			div(class="error") No tienes Películas que mostrar